body{
    background-color: rgb(222, 231, 235);
}
h1 {
    color:rgba(182, 10, 130, 0.938);
    font-size: 40px;
}

h2,h3 {
    color:rgb(73, 10, 146);
    font-size: 30px;

}

/* h3{ */
    /* color:rgb(36, 157, 161); */
    /* font-size: 30px;  */
/* } */
p{
    color:rgb(66, 42, 46);
    font-size: 20px;
}
img{
    width:300px;
    height: 200px;
}